# Dependencies
node_modules/
**/node_modules/
FE/node_modules/
BE/node_modules/
AI/node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Build Outputs
dist/
build/
*.pyc
__pycache__/

# IDEs
.vscode/
/BE/
.idea/
